.container {
    max-width: 1000px;
    margin: 0 auto;
}

.menu-top {
    background-color: rgb(169 1 255);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
}

.menu-category li{
    display: inline;
}
.menu-category a{
    text-decoration: none;
    color: rgb(225, 224, 224);
    padding-left: 37px;
}

.header-search{
    width: calc(33.33% - 20px );
}
.header-search  i {
    position: absolute;
    margin-top: 10px;
    margin-left: 13px;
    color:  rgba(0, 0, 0, 0.6);
}
.header-search input{
    width: 100%;
    height: 35px;
    border: inherit;
    padding-left: 35px;
}


.main{
    width: 100%;
    background-color:rgb(235 239 241);
    padding: 45px 35px 35px 35px;
}
.main-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    align-items: center;
}
.main-header h1 {
    font-size: 42px;
    font-weight: 600;
}

.content-box {
    width: calc(33.33% - 20px );
    height: auto;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}
.content-box-header h4{
    font-size: 18px;
}

.content-box-container {
    padding: 15px 30px 15px 15px;
}

.content-box-content p {
    font-family: 'Roboto';
}

h1, h4 {
    font-family: "Inter";
}

.menu-category {
    font-family: 'Roboto';
}

.content-box-line {
    width: 100%;
    height: 7px;
    background-color: rgb(169 1 255);
}

.main-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 40px;
}

.date {
    margin-bottom: 7px;    
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
}
.content-box-header{
    margin-bottom: 13px;
}

.content-box-content p {
    line-height: 1.2;
}



/* Tablet */
@media screen and (min-width: 768px) and  (max-width: 991.89px) {
    .content-box{
        width: calc(50% - 16px );
    }
    .header-search {
        width: calc(50% - 16px );
    }
    .main-header h1{
        font-size: 33px;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .main-header{
        margin-bottom: 33px;
        flex-wrap: wrap;
    }
    .header-search {
        width: 100%;
        margin-top: 20px;
    }
    .main-content  {
        justify-content: center;
    }
    .content-box {
        width: 100%;
    }
    .main-header h1{
        font-size: 25px;
    }
}